<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logoaplicacion"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoaplicacion"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimerIntento"
        tools:targetApi="31">
        <activity
            android:name=".Avanzado_4"
            android:exported="false" />
        <activity
            android:name=".Avanzado_3"
            android:exported="false" />
        <activity
            android:name=".Avanzado_2"
            android:exported="false" />
        <activity
            android:name=".Avanzado_1"
            android:exported="false" />
        <activity
            android:name=".Medio_4"
            android:exported="false" />
        <activity
            android:name=".Medio_3"
            android:exported="false" />
        <activity
            android:name=".Medio_2"
            android:exported="false" />
        <activity
            android:name=".Medio_1"
            android:exported="false" />
        <activity
            android:name=".Avanzado_5"
            android:exported="false" />
        <activity
            android:name=".Medio_5"
            android:exported="false" />
        <activity
            android:name=".InfoDeAp"
            android:exported="false" />
        <activity
            android:name=".Basico_2"
            android:exported="false" />
        <activity
            android:name=".Basico_1"
            android:exported="false" />
        <activity
            android:name=".OpcionAvanzado"
            android:exported="false" />
        <activity
            android:name=".OpcionMedio"
            android:exported="false" />
        <activity
            android:name=".OpcionBasico"
            android:exported="false" />
        <activity
            android:name=".Pagina_Carga"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>